
.header {
  position: relative;
  height: 80px;
  background: rgb(92,206,198);
}

//leftBox  rgb(45,62,78)
//leftBoxItemActive  rgb(30,43,60)
//leftBoxMenuBtnBg  rgb(66,82,97)
//whiteBg      rgb(236,240,243)