.container{
  position: relative;
}
.pointer{
  cursor: pointer;
}

.empty {
  width: 100%;
  height: 200px;
  text-align: center;
}
.line {
  padding: 0 3px;
  margin: 3px 0;
  height: 1px;
  background: #aaa;
}
.colLine {
  display: inline-block;
  width: 1px;
  height: 20px;
  margin: 0 3px;
  background: #aaa;
}
.item{
  display: flex;
  align-items: center;
  margin: 20px auto;
  padding: 0 60px;
}
.itemRight{
  display: inline-block;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  text-align: center;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  & span{
    text-decoration: underline;
    margin: 0 10px;
  }
}
.des {
  margin: 10px 0;
}
.desItem{
  &:nth-child(2){
    margin-left: 20px;
  }
}
.icon{
  display: inline-block;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  background: url("../img/set.png");
  background-size: 40px;
  cursor: pointer;
}

.ctnBox {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.buttonWrap{
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 4px;
  height: 4px;
  opacity: 0.5;
}

.circle {
  position: absolute;
  top: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.circle:first-child {
  animation: circle-opacity 2s infinite;
  animation-delay: .3s;
  background: #009966;
}

.circle:nth-child(2) {
  animation: circle-opacity 2s infinite;
  animation-delay: .6s;
  background: #FFFF66;
}

.circle:nth-child(3) {
  animation: circle-opacity 2s infinite;
  animation-delay: .9s;
  background: #FF6600;
}
@keyframes circle-opacity {
  0% {
    transform: scale(1);
  }
  50%{
    transform: scale(4);
  }
  100%{
    transform: scale(1);
  }
}


table.gridtable {
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
}
table.gridtable th {
  border-width: 1px;
  width: 100px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}
table.gridtable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}